<% if song.has_audio? %>
  <div class="audio-player">
    <h2>
      <%= song.title %>
      <audio controls="controls">
        <source src="<%= song.link %>" />
      </audio>
    </h2>
  </div>

  <%#= link_to "Downlaod", download_url_for(song.link), :class => "html5" %>
  <%#= link_to "Delete",  "songs/delete/?song=" + song.key, :confirm => 'Are you sure you want to delete ' + song.key + '?' %>
  </p>
<% end %>

<script>
$(document).ready(function() {
    $('#audio-player').mediaelementplayer({
alwaysShowControls: true,
features: ['playpause','volume','progress'],
audioVolume: 'horizontal',
audioWidth: 450,
audioHeight: 70
});
    });
</script>
