
<div class="col-md-10 col-xs-12 col-sm-9">
  <div id="">
    <div class="page-header">
      <h3>Add a Song</h3>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%#= render "form", material: @material %>
<%= simple_form_for @song, html: {class: "form-horizontal" },
  wrapper: :horizontal_form, 
  wrapper_mappings: {
  } do |f| %>
          <%= f.input :title %>
          <%= f.input :lyrics, as: :text %>
          <%= f.submit "Submit", class: "btn btn-info" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

