<head>
  <title>Audio Player</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="js/mediaelement-and-player.min.js"></script>
  <link rel="stylesheet" href="css/style.css" media="screen">
</head>
<body>
  <div>
    </br>
    <%= render partial: "shared/audio_player", locals: {song: @song} %>

    </br>

    <% for i in 0..@song.number_of_lines %>
      <% if @song.chords %>
      <p><%= @song.decorate.display_chords[i] %></p>
    <% end %>
      <p><%= @song.decorate.display_lyrics[i] %></p>
    <% end %>
  </div>
</body>
