
<h3><%= @song.title %></h3>

<p>
  <audio controls="controls">
    <source src="<%= @song.link %>" />
  </audio>
</p>
</br>

<% for i in 0..@song.number_of_lines %>
  <p><%= @song.display_chords[i] %></p>
  <p><%= @song.display_lyrics[i] %></p>
<% end %>
